[Unit]
Description=Cloud-Migrator Honeybee Service
After=network.target

[Service]
Environment="CMHONEYBEE_ROOT=/etc/cloud-migrator/cm-honeybee/"
Type=simple
User=root
ExecStart=/usr/bin/cm-honeybee
ExecStop=/usr/bin/killall cm-honeybee
Restart=on-failure
RestartPreventExitStatus=100

[Install]
WantedBy=multi-user.target
Alias=honeybee.service
